.main{
    position: relative;
    height: auto;
    min-height: 100%;
}

.header{
    display: flex;
    position: sticky;
    top: 0;
    width: 95%;
    height: 5vw;
    background-color:#43484c;
    border-radius: 25px;
    padding: 20px;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
}

.header-logo{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 80%;
}

.left-header{
    display: flex;
    height: 100%;
    width: 50%;
}

.overwatch-1st-image{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.first-text-box {
    background-color: #f99e1a;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.second-text-box{
    background-color: #fffffe;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.third-text-box{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    text-align: center;
    color:white;
    overflow: hidden;
}

.bottom-play-button{
    flex: 1;
}

.bottom-picture{
    flex: 1;
    width: 100%;
    height: 100vh;
}

.third-text-box{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    text-align: center;
    color:white;
    overflow: hidden;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 1;
}

.roles-heroes{
    align-self: center;
    padding-left: 50px;
}

.text-next-hero{
    flex: 1;
    padding: 2% 10%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.tiny-lucio{
    height: 400px;
    align-self: center;
    width: auto;
    margin-top: 30px;
}

.overwatch-genji{
    height: 400px;
    align-self: center;
    width: auto;
    margin-top: 30px;
}

.bottom-header{
    flex: 1;
}

.play-now{
    background-color: #f99e1a;
    border:none;
    color:white;
    padding:20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    align-self: center;
    max-width: 100%;
    word-wrap: break-word;
}

.bottom-text-box{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.bottom-div{
    display: flex;
    grid-column-start: 2;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold; 
}

.stay-connected{
    align-self: center;
}

body{
    background-color: #405275;
    height: 200vh;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 70px;
}

h2{
    font-family: "Roboto", sans-serif;
    color: white;
}
