.main{
    position: relative;
    height: auto;
    min-height: 100%;
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    width: 95%;
    height: 5vw;
    background-color:#43484c;
    border-radius: 25px;
    padding: 20px;
    justify-content: space-between;
}

.header-logo{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 80%;
}

.left-header{
    display: flex;
    height: 100%;
    width: 50%;
}
.overwatch-1st-image{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.first-text-box {
    background-color: #f99e1a;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.roles-heroes{
    align-self: center;
    padding-left: 50px;
}

h2{
    font-family: "Roboto", sans-serif;
}

.text-next-lucio {
    flex: 1;
    padding: 2% 10%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.tiny-lucio{
    height: 400px;
    align-self: center;
    width: auto;
    margin-top: 30px;
}

.play-now{
    background-color: #f99e1a;
    border:none;
    color:white;
    padding:20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    align-self: center;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #405275;
    height: 500vw;
}
